@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Lobster+Two:wght@700&family=Smooch+Sans&display=swap');
/*
Turquoise: #4cbfa6

Soft Lilac: #f6ebf4

Purple: #482673

Orchid: #ed0b70

Digi Denim: #301008
*/

.para {
  width: 700px;
  height: 233px;
  margin: auto;
}

body {
  text-align: center;
  align: center;
  background-color: #f6ebf4;
  font-size: 18px;
  color: #482673;
}

#menu {
  list-style: none;
  background-color: #f6ebf4;
  padding: 0;
  margin: 0;
  overflow: visible;
  border-bottom: 1px;
  border-top: 1px;
}
#menu ul{
  padding: 0;
}
li {
  text-decoration: none;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 30px;
  display: inline-block;
  width: 140px;
  margin: 5px 20px 5px 20px;
  padding: 10px;
  text-align: center;
  height: 25px;
  line-height: 25px;
}

#menu li a {
  text-decoration: none;
  color: #21130d;
}

#menu li a:hover {
  color: #ed0b70;
}

/* Dropdown Button */
.dropdown a {
  padding: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
 .dropdown-content {
  display: none;
  background: #f6ebf4;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#catchpharse {
  font-family: 'Lobster Two', cursive;
  padding-left: 35px;
  letter-spacing: 30px;
  font-size: 180px;
  height: 90vh;
  width: 96vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
span{
  font-family: 'Kalam', cursive;
  letter-spacing: -2px;
  font-size: 35px;
  flex: 100%;
}
.image-content{
  display: flex;
  align-items: center;
  margin-top: 4.4rem;
  padding: 25px;
}

.image-content img{
  height: 60vh;
  display: block;
margin: 0 auto;
}
.column{
  flex: 33%;
  width: 100%;
  height: 60vh;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f6ebf4;
}

.column:hover .overlay {
  opacity: 0.7;
}
.column:hover img{
  opacity: 0.7;
  transition: .5s ease;
}
.text {
  color: #482673;
    font-family: 'Kalam', cursive;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.contact-wrap{
  display: grid;
  justify-items: center;
  padding-top: 20vh;
    padding-bottom: 20vh;
}
.contact{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70vw;
  height: 40vh;
  border-style: solid;
  border-width: thin;
}
.description{
  color: #f6ebf4;
  background-color: #482673;
}
.form-table{
  grid-column-start: 2;
  grid-column-end: 4;
  place-items: center;
  display: grid;
  background-color: white;
}

.form-table table {

}

#btn-msg{
  background-color: #482673;
  color: #f6ebf4;
  border-style: none;
  width: 10em;
  height: 3em;
}
#btn-msg:hover{
  color:#ed0b70;
}
