body{
  background-color: #8cc6ec;
  color: white;
}
.container{
  width: 50%;
  height: 550px;
  margin: 0 auto;
  background-color: #6b60d9;
  padding:30px 10px 2px 20px;
}
input{
    padding: 7px 7px;
    margin-top: 10px;
    margin-right: auto;
}
input:hover{
  background-color: #8cc6ec
}
.field{
  display:inline-block;
}

input[type=text]:focus {
  background-color: lightblue;
  display: inline-block;
}
#btn {
background-color: #bee1f9;
color: black;
}
 #btn:hover {
background-color: black;
color: white;
}
#form{
  margin-left: 20px;
}
#form h1{
  text-align: center;
}
textarea{
    margin-top: 5px;
    resize: none;
}
