body{
  font-family: Calibri, Helvetica, sans-serif;
  background-color: white;

}
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 8px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}
.btn:hover {
  opacity: 1.2;
}
.container{
  border-style:solid;
  background-color: tomato;
  border-radius: 5px;
  padding: 20px;

}

textarea{
  resize: none;
}
